/* Font Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/* generalized css */
:root {
  --dblack: #131318;
  --yorenge: #ff5400;
  --dash: #424247;
}
.page-title {
  color: var(--dblack);
  font-size: 2rem;
  font-weight: 800;
}
.page-title > span {
  color: var(--yorenge);
}
.head-title {
  color: var(--dblack);
  font-size: 2.5rem;
  font-weight: 800;
}
.head-para {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary {
  border-radius: 8px;
  background: var(--yorenge);
  width: 10.875rem;
  height: 3.25rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
}

/***** nav section *****/
.nav-title-container {
  display: flex;
  align-items: center;
  gap: 1.04rem;
}
.nav-container > ul {
  display: flex;
  gap: 2.75rem;
}
.nav-container > ul > li {
  list-style: none;
}
.nav-container > ul > li > a {
  text-decoration: none;
  color: var(--dash);
  font-size: 18px;
  font-weight: 400;
}
.nav-container > ul > li > a > span {
  color: var(--yorenge);
}
.nav-container {
  /* width: 73.625rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.25rem;
}
/* nav{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.nav-container > i {
  display: none;
  color: var(--dblack);
}

/***** End nav section *****/
/***** banner section *****/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}
.banner-container {
  width: 73.125rem;
  height: 31.25rem;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tour-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.tour-description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.banner-info {
  max-width: 42.25rem;
}
.find-menu {
  max-width: 50rem;
  display: inline-flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
}
.frm-design {
  width: 10.9375rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding-left: 0.5rem;
}
.find {
  display: flex;
  gap: 1.625rem;
}
.find > button {
  background-color: var(--yorenge);
  color: white;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
/***** End banner section *****/
/***** Tour section *****/
.tours {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto 8.4375rem; */
}
.tours-container {
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6.25rem;
  /* border: 2px solid black; */
}
.tour-info > ul > li {
  padding-bottom: 1.5rem;
}
.tour-info > ul {
  padding-left: 1.5rem;
}
.tour-info > .head-para {
  max-width: 36.0625rem;
  padding: 1.5rem 0;
}
.tour-info > .btn-primary {
  margin-top: 1rem;
}
/***** End Tour section *****/
/***** destination *****/
.destination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.destination > .head-title,
.destination > .head-para {
  text-align: center;
}
.destination > .head-title{
    padding-top: 6.25rem;
}
.destination > .head-para{
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    max-width: 40.1875rem;
}
.destination-img-container {
  width: 73.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.imgs {
  position: relative;
  text-align: center;
}
.img-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}
/***** End destination *****/

/* responsive css start */
@media screen and (max-width: 600px) {
/***** nav *****/  

  .nav-container > ul {
    display: none;
  }
  .nav-container > i {
    display: block;
  }
  .find {
    flex-direction: column;
  }
  .tour-title {
    padding-top: 2rem;
    font-size: 1.375rem;
  }

  .tour-description {
    max-width: 19rem;
    font-size: 0.875rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
  }
/***** End nav *****/
/***** banner part *****/ 

  .banner-container {
    width: 20.9375rem;
    height: 100%;
    background-position: center center;
  }
  .frm-design {
    width: 15.9375rem;
    height: 3.25rem;
    padding-left: 0;
    text-align: center;
  }
  .find-menu {
    margin: 2rem 1.5rem;
  }
   /***** End banner part *****/
   /***** Tour part *****/ 
   
  .tours-container {
    flex-direction: column;
  }
  .head-title {
    font-size: 1.25rem;
  }
  
  .head-para,
  .tour-para {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .tour-info {
    max-width: 20.9375rem;
  }
  .tour-img {
    padding-top: 1.5rem;
    max-width: 20.9375rem;
  }
  .tour-img > img {
    width: 100%;
    height: 100%;
  }
   /***** End Tour part *****/
   /***** destination *****/ 

   
  .destination-img-container{
    max-width: 20.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  .imgs{
    width: 20.9375rem;
    height: 10.9375rem;
    
  }
  .imgs > img {
    height: 100%;
    width: 100%;
  }
  .destination .head-para{
    max-width: 19.3125rem;
  }
    /***** End destination *****/
}
